@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide input arrows in chromium */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

body {
  background-color: #0b0a6b;
}

.bg-dark-purple {
  background-color: #0a071e;
}

.bg-secondary-purple {
  background-color: #0e0a2b;
}

.bg-third-purple {
  background-color: #140e44;
}

.bg-dark-gray {
  background-color: #0a091e;
}

.text-indent {
  text-indent: 30px;
}

.active {
  color: rgb(253, 230, 138);
}
