@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-color: rgba(15, 23, 42, 255);
}

.second-bg {
  background-color: rgba(31, 41, 59, 255);
}

.main-color {
  color: rgba(235, 235, 237, 255);
}

.table-border {
  border: solid;
  border-color: white;
  border-top: 1px;
  border-bottom: 1px;
}
